
*{
    margin: 0px;
    padding: 0px;
}
html{    
    margin: 0px;
    padding: 0px;
    
}
header{
    background-image: url(./image/pexels-photo-1670977.jpeg);
   box-sizing: cover;
height: 70vh;
background-size:COVER;
    background-repeat:no-repeat;
}
.home-title{
display: flex;
justify-content:center ;
align-items: center;
}
h1{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
}

.sous-header{
    background-color: rgba(214, 194, 11, 0.808);
    display: flex; 
    align-items: center;
     height: 50px;

}
.nav{    
width: 100%;
display:flex;
justify-content:space-between;
align-items: center;

}
.search{
    margin-left: 150px;
    width: 50px;
    display: flex;
    justify-content:center;
    position: relative;
    bottom: 15PX;
}
input{
    width: 100%;
    height: 20px;
    position: relative;
    right: 65px;
}


.btn{
    width: 80PX;
    height:25px;
    border: 1px rgba(19, 18, 14, 0.808) solid;
    margin-left: 5px;
    position: relative;
    left:px;
    text-align: center;
    background-color: gray;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius:10px ;
    
}
.btn:hover{
    background-color: rgba(214, 194, 11, 0.808);
    color:gray ;
    transition: 2S;
}

a{
    margin: 0px;
    border-right: 3px black solid;
    width: 100%;
   height: 47px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    position: relative;
    color:gray;
    

}

 a:hover{
    background-color: gray;
    color: rgba(214, 194, 11, 0.808);
    transition: 2s;
}
.p-text{
    width: 100%;
    height:50px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p{
    height: 100px;
}
.presentation{
    height: 700px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:center ;
}

h2, h3, h4{
    font-family: 'Bebas Neue', cursive;
    margin-top: 15Px;
    border-bottom:2px #d6c20bce solid ;
}
h4{
    color: white;
}
.p-p:hover{
    border-bottom:3px blueviolet  solid;
    transition: 1s;
}
.p-n:hover{
    border-bottom:2px red solid;
    transition: 1s;
}
.p-x:hover{
    border-bottom: 2px green solid;
    transition: 1s;
}
h3:hover{
    border-bottom: 2px green solid;
    transition: 1sec;
}
.expert{
    width: 500px;
    height:200px;
    border: 2px orange dashed;
    display:flex;
    margin-top: 10px;
    position: relative;
    right: 150PX;
    border-radius: 20px;
    align-self: flex-end;
    box-shadow: 10px 5px 5px  orange;

}
.expert:hover{
    border: 2px green solid;
    transition: 2S;
    box-shadow: -10px 5px 5px green;
}
.text{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.photo{
    width: 500px;
    height:200px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fonctionnement{
    width: 500px;
    height:200px;
    border: 2px orange dashed;
    display:flex;
    margin-top: 10px;
    border-radius: 20px;
    align-self: flex-start;
position: relative;
left: 150PX;
box-shadow: -10px 5px 5px orange;

}
.fonctionnement:hover{
    border: 2px green solid;
    transition: 2S;
    box-shadow: 10px 5px 5px green;
}
.livraison{
    width: 500px;
    height:200px;
    border: 2px orange dashed;
    display:flex;
    margin-top: 10px;
    align-self: flex-end;
    justify-self: center;
    position: relative; 
    border-radius: 20px;
   right: 150PX;
    box-shadow: 10px 5px 5px orange;
      

}


.livraison:hover{
    border: 4px green solid;
    transition: 2S;
    box-shadow: -10px 5px 5px green;
}
img{
    width: 190PX;
    height: 190px;
}
.cataloge{
    margin-top: 100px;

    background-image: url(./image/console-gaming.jpg);
    height: 90VH;
    background-size: 100%;
    background-repeat:no-repeat ;
    background-position:cover;
    display: flex;
    justify-content: space-around;
}
.p-console{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    text-align: center;
}
.btn-p{
    position: relative;
    bottom: 30px;
    left: 20px;
}
.titre-cataloge
{
    height: 50px;
}
.p-h2{
    margin-top: 60px;
    position: relative;
    top: 5px;
}
.x:hover{
    color: white;
    background-color: green;
    transition: 1s;
    border: 1px green solid;
}
.n:hover{
    color: white;
    background-color:red;
    transition: 1s;
    border: 1px red solid;

}
.s:hover{
    color: white;
    background-color:blueviolet;
    transition: 1s;
    border: 1px blueviolet solid;

}
.footer{
    background-color: rgba(214, 194, 11, 0.808);
    display: flex;
    justify-content: space-evenly;

    height:100px;
   
}
.flex{
    height: 500px;
    display:flex;
    justify-content:center;
    align-items: center;
    
}
.block{
width: 350px;
height: 350px;
border:10px rgba(214, 194, 11, 0.808)  double;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}

.connexion{
    width: 50%;
    position: relative;
    left: 10px;

}
.bar{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
label{
    margin-bottom: 10px;
}
.btn-connexion{
    margin-top: 20px;
    margin-right: 10px;
}
.fmdp{
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
}
.btn-con:hover{
    color: #ffffff;
}
.h2{
    text-align: center;
}
.admin{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.titre-admin{
    text-align: center  
}
.graphique{
    width: 1335px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40PX;
    
}
.graphe1{
    width: 700Px;
    height: 300px;

}
.h3{
    text-align: center;
    border-bottom: 2px rgba(214, 194, 11, 0.808);
}
.ajout-last{
    width: 1335px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
align-items: center;
}
.image-last{
height: 300px;
width: 1330px;
display: flex;
justify-content: space-around;
margin-top: 20px;
}
.image-2{
    width: 200;
    height: 200px;
    border: 3px black dotted;
    display: flex;
    justify-content: center;
    align-items: center;

}
.icone{
font-size: 25PX;
}

.tableau{
    width:100%;
    
    

}
table, th, td {
    border: 1px black solid;
    border-collapse:collapse ;
    text-align: center;

    
}
    

.btv{
    margin-top: 20px;
}
canvas{
    width:500px;
    height: 300PX;
}
@media screen and (max-width:450px){
    header{
        background-image: url(./image/pexels-photo-1670977.jpeg);
       box-sizing: cover;
    height: 200px;
    background-size:cover;
        background-repeat:no-repeat;}
        h1{
            color: white;
            font-family: 'Bebas Neue', cursive;
            font-size: 30px;
        }
        .sous-header{
            background-color: rgba(214, 194, 11, 0.808);
            display: flex; 
            align-items: center;
            width:395px;
            height: 40px;
        
        }
        .nav{    
            width: 400px;
        display:flex;
        justify-content:space-around;
        align-items: center;
        
        }
        a{
            margin: 0px;
            width: 50px;
            height: 47px;
            text-align: center;
            text-decoration: none;
            font-size: 10px;
            text-align: center;
            position: relative;
            color:gray;
            
        
        }
        
    
}






